nav * {
    font-size: 13px;
}

nav {
    width: 100%;
    padding: 10px 0 10px 0
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.link-button {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.link-button img{
    margin: auto;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

button {
    background: none;
    border: none;
    height: min-content;
}

.open-img {
    padding: 0;
    margin: auto auto auto 5px !important;
    width: 5px;
    height: 5px;
    border: solid rgb(249,222,201);
    border-width: 3px 0px 0px 3px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.open-img-open {
    transform: rotate(225deg);
}

.display-block {
    display: block;
}

.extra-padding-right {
    padding-right: 80px;
}

.container {
    direction: rtl;
}

.container .link-button {
    direction: ltr;
}


.container:hover .items{
    display: block;
}

.items {
    direction: ltr;
    display: block;
    position: absolute;
    z-index: -1;

    padding: 20px;
}

.items a, .arrow-button {
    font-size: 17px;
    padding-bottom: 12px !important;
}

.items ol * {
    margin: 0;
    padding: 0;
}

.items ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.items li {
    display: flex;
}

.items li div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.div-size-right {
    padding-right: 0px !important;
}

.arrow-button {
    display: flex;
    flex-direction: row !important;
}

.arrow-button a {
    padding: 0 !important;
}

nav p {
    color: white;
}

.padding-bottom {
    padding-bottom: 15px !important;
}

.arrow-right {
    padding: 0;
    margin-top: auto !important;
    margin-bottom: auto !important;
    width: 5px;
    height: 5px;
    border: solid rgb(249,222,201);
    border-width: 3px 0px 0px 3px;
    transform: rotate(135deg);
}