* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    position: relative;
    word-break: normal;
}

a {
    text-decoration: none;
    color: rgb(249,222,201);
}

a:visited {
    color: rgb(249,222,201);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.light-text {
    color: rgb(249,222,201);
}


@media all and (max-width: 1040px) {
    .all {
        padding: 20px;
    }

}