.drop-down{
    display: inline-block;
    padding-right: 20px;
}

.drop-btn {
    padding: 10px;
    border: 0px;
    font-size: 25px;
    border-radius: 10px;
    background: rgb(111, 209, 255);
}

.drop-btn:hover{
    background: rgb(101, 191, 233);
}

.drop-items {
    position: absolute;
    display: none;
    background: rgb(131, 216, 255);;
    border-radius: 5px;
    border-top-left-radius: 0;
    z-index: 1;
}

.drop-items a{
    display: block;
    padding: 10px;
}

.drop-items a:hover{
    border-radius: 5px;
    background: rgb(118, 194, 230);
}

.drop-down:hover .drop-items{
    display: block;
}

.drop-down:hover .drop-btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

header {
    font-size: 3em;
    margin-bottom: 40px;
}

hr {
    width: 30%;
    padding: 0;
    margin: auto;
}